[Desktop Entry]
Name=Choosr
GenericName=Browser Chooser
Comment=Choose which browser profile to use for links
Exec=choosr %u
Icon=choosr
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;text/html;application/xhtml+xml;
StartupNotify=true
Terminal=false
NoDisplay=false
